@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif, 'Playfair Display';
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden; /*Prevent horizontal scroll*/
}

.table-container thead{
    cursor: pointer; /* Change cursor to pointer when hovering over the data table */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e5e5e5; /* Use your preferred color for odd rows */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Optionally, customize the color for even rows if desired */
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 10px; 
    white-space: nowrap;
}

.accordion-button, .accordion-body{
    font-size: 20px;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover{
    background-color: #0069d9;
}
.img {
    margin: 0 auto;
}
#editBtn, #submitBtn {
    border-radius: 0px;
}

.editBtn {
    background-color: #4a6d9e;
    border-color: #4a6d9e;
}

#tableName {
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Reduced margin */
}
#addPartnerBtn, #importPartnerBtn, #downloadBtn {
    font-family: "Playfair Display";
    font-weight: 600;
    background-color: #495057;
    border-radius: 0px;
    margin-left: 1em;
    transition-duration: 0.4s;
}

#addPartnerBtn:hover, #importPartnerBtn:hover, #downloadBtn:hover {
    background-color: #333;
}

/* Ensure sort indicator stays in the same line */
.table th {
    white-space: nowrap; /* Prevent wrapping */
}

#resetBtn {
    border-radius: 0;
}
#importBody {
    white-space: nowrap;
    overflow-wrap: break-word;
}
#actionBtn {
    white-space: nowrap; /* Prevent wrapping */
}

h2 {
    margin-bottom: 10px; /* Reduced margin */
    font-weight: 700;
    color: #333;
}

h3 {white-space: nowrap;}

.btn {
    padding: 8px 16px; /* Reduced padding */
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleteBtn {
    background-color: #9e4a4a;
    border-color: #9e4a4a;
}

.close-btn {
    padding: 8px 16px; /* Reduced padding */
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: lightsalmon; /* Darker red color on hover */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    font-family: "JetBrans Mono";
    font-weight: 500;
    max-width: 15em;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px; /* Reduced padding */
    border: 1.2px solid white;
}
.table th {
    background-color: #f8f9fa;
    text-align: left;
}

.table td > input[type="checkbox"] {
    max-width: 100em;
    white-space: pre-wrap;
    padding: 10px; /* Reduced padding */
    border: 1.2px solid white;
    width: 30px; /* Adjust the width as needed */
    height: 30px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 100%; /* Make the width match the cell width */
    margin: auto; /* Center the checkbox */
}

.search-container {
    margin-bottom: 10px; /* Reduced margin */
    display: flex;
    align-items: center;
}

#searchInput {
    flex: 1;
    padding: 8px; /* Reduced padding */
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: 0px;
    font-size: 1rem;
    color: #333;
}

.navbar-brand{
    font-family: "Playfair Display";

    font-size: 1.4rem;
    margin-right: 1.5rem;
}

.thankyou-footer-wrapper{
    display:none;
}

.nav-link {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 1.3rem;
    margin-right: 1.5rem;
    transition-duration: 0.4s;
}

.nav-link:hover {
    background-color: #333;
    text-decoration: underline; /* Underline the text on hover */
}

#userDetails {
    text-align: center;
    font-family: "playfair Display";
    font-size: 1.4rem;
    margin-right: 1.4rem;
    color:antiquewhite;
    font-weight: bold;
}
#logo {
    margin-right: 1.3rem;
}
#sectorFilter,
#typeFilter {
    font-size: 1rem;
    flex: 0.15;
    border: 1px solid black;
    border-radius: 0px;
}
#sectorFilter {
    width: 14%;
}

#typeFilter {
    width: 13%
}
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    justify-content: flex-end;
    border-top: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 0px;
    border-color: black;
}

.modal-dialog {
    max-width: 80%;
    max-height: 70% /* Make modal wider */
}

.btn-secondary {
    background-color: #FF6961;
    border: 0px;
    padding: 10px;
}





.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue;
}
